.DS_Store
.idea
*.vcd
*.fst
*.fst.hier
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/results_replay.xml
test/results_outside.xml
test/results_both_roles.xml
test/results_tolerance_bench.xml
test/outside_*.sr
/*.sr
test/gate_level_netlist.v
test/gl_traces/

_build
_mutation
*.install
*.merlin
_opam
bin/*.exe
bin/*.bc
formal/engine.v
formal/engine_sram.v
formal/engine_narrow*.v
formal/engine_saturating.v
formal/engines_any_turn.v
formal/engines.v
formal/engines_sram.v
formal/link*.sv
formal/certificate*.sv
formal/fsm_miter*.sv
formal/self_check*.sv
formal/tolerance_*
formal/*_*/
formal/proof_bundle.tar.gz
formal/powerup/
formal/isolation/
!formal/netlist_equiv/
!formal/sram_equiv/
!formal/kernel_equiv/
__pycache__/
test/fpga_netlist.v
test/fpga_top.v
test/fpga_kit_top.v
test/fpga_kit.json
test/fpga_kit.log
test/fpga_kit.asc
test/fpga_kit.bin
formal/kernel_step.v
formal/kernel_step_narrow.v
formal/osr_step.v
formal/kernel_accepts.v
formal/memory_flops.v
formal/memory_sram.v
formal/kernel_gates.aag
formal/kernel_accepts_gates.aag
test/icepi_netlist.v
icepi/build
