.DS_Store
.idea
*.vcd
*.fst
*.fst.hier
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/results_replay.xml
test/gate_level_netlist.v

_build
_mutation
*.install
*.merlin
_opam
bin/*.exe
bin/*.bc
formal/engine.v
formal/engine_sram.v
formal/*_*/
__pycache__/
test/fpga_netlist.v
test/fpga_top.v
test/fpga_kit_top.v
test/fpga_kit.json
test/fpga_kit.log
