# Icepi Zero v1.2, from gateware/v1.2/icepi-zero-v1_2.lpf upstream.

SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 MASTER_SPI_PORT=ENABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

LOCATE COMP "clk" SITE "M2";
IOBUF PORT "clk" IO_TYPE=LVCMOS33 PULLMODE=NONE;
FREQUENCY PORT "clk" 50 MHZ;
